<div class="container-div">
  <div class="header-container-div">
  </div>

  <div class="secondary-heading">
    <p>Restaurant Recommendations</p>
  </div>

  <div class="content-container-div">
    <div class="slogan-container">
      <h2>DineWise: Where Flavor Meets Discovery</h2>
    </div>

    <div class="component-container">
      <h2>Suggest a restaurant</h2>
      <app-restaurant-submission></app-restaurant-submission>
    </div>

    <div class="component-container">
      <h2>Get a restaurant for today</h2>
      <app-random-restaurant></app-random-restaurant>
    </div>

    <div class="component-container">
      <h2>Restaurant list</h2>
      <app-restaurant-list></app-restaurant-list>
    </div>
  </div>
</div>
